@import "./app/shared/styles/variables.scss";

html,
body {
    width: 100%;
    height: 100%;
    background-color: #fdfbff;
    box-sizing: border-box;
}
body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}