<p>sidenav works!</p>
<mat-toolbar color="primary">
    <button mat-icon-button aria-label="Menu icon" (click)="toggleMenu()">
        <mat-icon>menu</mat-icon>
    </button>
</mat-toolbar>
<mat-sidenav-container autosize [class.sidenav-opened]="mobileOpened">
    <mat-sidenav [ngClass]="isCollapsed ? 'collapsed' : ''" [mode]="isMobile ? 'over' : 'side'" [opened]="!isMobile">
        <mat-nav-list>
            <a mat-list-item [routerLink]="['/home']" routerLinkActive="router-link-active">
                <span class="entry">
                    <mat-icon>house</mat-icon>
                    <span>Anasayfa</span>
                </span>
            </a>
            <a mat-list-item (click)="logOut()">
                <span class="entry">
                    <mat-icon>logout</mat-icon>
                    <span>Çıkış Yap</span>
                </span>
            </a>
        </mat-nav-list>
    </mat-sidenav>
</mat-sidenav-container>