<div class="login-content">
    <form class="form" [formGroup]="loginForm" (ngSubmit)="userLogin()" (keyup.enter)="userLogin()">
        <div class="form-field">
            <mat-form-field>
                <mat-label>E-Posta</mat-label>
                <input formControlName="email" placeholder="Email" matInput>
            </mat-form-field>
            @if (loginForm.get('email')?.hasError('required') && (loginForm.get('email')?.touched ||
            loginForm.get('email')?.dirty)) {
            <span class="hint">{{'Bu alan gerekli'}}</span>
            } @else if (loginForm.get('email')?.hasError('email') && (loginForm.get('email')?.touched ||
            loginForm.get('email')?.dirty)) {
            <span class="hint">{{'Lütfen geçerli bir mail adresi girin'}}</span>
            }
        </div>
        <div class="form-field">
            <mat-form-field>
                <mat-label>Şifre</mat-label>
                <input matInput formControlName="password" [type]="hide() ? 'password' : 'text'" />
                <button class="button-visibility" mat-icon-button matSuffix (click)="clickEvent($event)"
                    [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide()">
                    <mat-icon>{{hide() ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
            </mat-form-field>
            @if (loginForm.get('password')?.hasError('required') && (loginForm.get('password')?.touched ||
            loginForm.get('password')?.dirty)) {
            <span class="hint ">{{'Bu alan gerekli'}}</span>
            } @else if ((loginForm.get('password')?.hasError('minlength') ||
            loginForm.get('password')?.hasError('maxlength')) && (loginForm.get('password')?.touched ||
            loginForm.get('password')?.dirty)) {
            <span class="hint">{{'Şifreniz 3-20 karakter arasında olmalı'}}</span>
            }
        </div>
        <button mat-raised-button class="login-button" [disabled]="!loginForm.valid">Giriş</button>
    </form>

</div>